<head>
    <link rel="stylesheet" href="contacto.component.css">
  </head>
  <body class="fondo">
    <h1 class="saludo">Bienvenido a Altair</h1>
    <div class="entorno">
        <div class="letreros">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="letreros">
          <label for="exampleFormControlTextarea1">Dejanos un mensaje</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="letreros">
            Informacion de contacto:
        </div>
        <div class="letreros">
            Email: Juanc.salazar01@gmail.com
        </div>
        <div class="letreros">
            Whatsapp 3025725947
        </div>
    </div>
    <script>src="./contacto.component.ts"</script>
  </body>
